.App {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  font-family: Menlo;
  overflow: scroll;
  grid-template-areas: "box0";

  .item-2 {
    height: 50vh;
    overflow: scroll;
  }

  .box-0 {
    grid-area: box0;
    overflow: scroll;
  }

  .box-1 {
    grid-area: box1;
    overflow: scroll;
  }

  .box-2 {
    grid-area: box2;
    overflow: scroll;
  }

  .box-3 {
    grid-area: box3;
    overflow: scroll;
  }

  .box-4 {
    grid-area: box4;
    overflow: scroll;
  }

  .box-5 {
    grid-area: box5;
    overflow: scroll;
  }
}

.splited {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "box0 box1";
}

.splited-1 {
  height: 100vh;
  grid-template-rows: 50vh 50vh;
  grid-template-areas: "box0 box1"
    "box2 box1";
}

.splited-2 {
  height: 100vh;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box0 box1"
    "box2 box3";
}

.splited-3 {
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box0 box1 box2"
    "box3 box4 box2";
}

.splited-4 {
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box0 box1 box2"
    "box3 box4 box5";
}